
<%= image_tag "titlecoming.png" %>

<h2>Ready,Player One?</h2>
<p><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><></p>
<table align="center">
<tr>
<th><p><><><><><><><><><><><></p></th>
<th><h3><%= link_to "New Player", new_player_path%></h3></th><br>
<th><p><><><><><><><><><><><></p></th>
<th><h3><%= link_to "Log in", login_path%></h3></th>
<th><p><><><><><><><><><><><></p></th>
</tr>
</table>
<p><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><></p>

