<h1>Stores and their games</h1>

<table style="width:100%">
  <tr>
    <% Store.all.each do |store|%>
    <th><h3> <%= link_to store.name, store_path(store) %> </h3></th>
    <% end %>
  </tr>
  <tr>
      <% Store.all.each do |store|%>
    <td><h4> 
        <ul>
        <% store.games.each do |game|%>
            <li> <%= link_to game.name, game_path(game)%></li>
        <% end %>
        </ul>
     </h4></td>
    <% end %>
  </tr>
</table>


