<h3>Look at all these potential members of your next session!</h3>
<div>
<ul>
    <% @players.each do |player| %>

        <li><%= link_to player.name, player_path(player) %></li><br>
    <% end %>
</ul>
</div>
    <div class="dropdown">
        <button class="dropbtn">Registered Players
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        <% @players.each do |player| %>
        <a href="<%= player_path(player) %>"><%=player.name%></a>
        <% end %>
        </div>
    </div>
<br>
<br>
<%= link_to "Create new player", new_player_path%>